{% extends 'employees/index.html' %}

{% block content %}
<p>
<table class="table table-condensed">
    {% for task in tasks %}
        {% if task.is_taken == False and task.is_active == True and task.is_closed == False %}
            <tr>
                <td><a href="{% url 'task' id=task.pk %}"><button type="button" class="btn btn-info">{{task.title}} </button></a></td>
                <td><span class="label label-success">W trakcie</span></td>
                <td><a href="{% url 'take_task' pk=task.pk %}"><span class="label label-primary">Zajmij zlecenie</span></a></td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
</p>

{% endblock %}