{% extends 'employees/index.html' %}

{% block content %}
    <h4>{{ task.title }}</h4>
    <p>Termin: {{ task.start_date }} - {{ task.end_date }}</p>
    <p>Stanowisko: {{ task.stand }}</p>
    Wykonanie planu: </br>
    Cel: {{ task.target }}</br>
    Wykonano: {{ task.accomplishment }} </br>

    {% if task.target <= task.accomplishment %}
        <span class="label label-success">Plan wykonany</span>
    {% else %}
        <span class="label label-danger">Plan niewykonany</span>
    {% endif %}
    <h5>Pracownicy:</h5>

        {% for employee in employees %}
        <p><a href="{% url 'employee' id=employee.pk%}"><span class="label label-info">{{ employee.last_name }} {{ employee.first_name }}</span></a></p>
        {% endfor %}



{% endblock %}